.btn {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
  transition: box-shadow .15s;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  padding: .5em 2em;
  border-radius: .25em;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.2);
}

.btn--primary {
  color: white;
  background: var(--seatgeek-blue);
}
