.thing {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 300;
  background: white;
  padding: .75em 1em;
  border: 2px solid var(--primary);
  border-radius: .25em;
  width: 80%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);

  & + & {
    margin-top: 1em;
  }
}

.thing--complete {
  border-color: var(--seatgeek-blue);
}

.thing--noncomplete {
  border-color: var(--primary);
}

.thing__checkmark {
  height: 1.5em;
  width: 1.5em;
  fill: var(--seatgeek-blue);
  align-self: center;
  flex-shrink: 0;
}

.thing__body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.thing__contact {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--secondary);
  font-size: .8rem;
  margin-top: .75em;
  transition: color .5s ease;

  &:hover {
    color: var(--seatgeek-blue);
  }

  & svg {
    fill: var(--secondary);
    height: 1em;
    margin-left: .5em;
    transition: fill .5s ease;
  }

  &:hover svg {
    fill: var(--seatgeek-blue);
  }
}
