.thing {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 300;
  background: white;
  padding: 1em;
  border: 2px solid var(--primary);
  border-radius: .25em;
  width: 80%;
}

.thing--complete {
  border-color: var(--seatgeek-blue);
}

.thing--noncomplete {
  border-color: var(--primary);
}

.thing + .thing {
  margin-top: 1em;
}

.thing__checkmark {
  height: 1.5em;
  width: 1.5em;
  fill: var(--seatgeek-blue);
  align-self: center;
  flex-shrink: 0;
}
