.seatgeek-blue {
  color: var(--seatgeek-blue);
}

@keyframes fadedrop {
  from {
    transform: translate3d(0,-4px,0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

.example-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3em;

  & > * {
    animation: 1s fadedrop ease both;
  }

  @for $i from 1 to 10 {
    & > *:nth-child(#{$i}) {
      animation-delay: (($i - 1) * 3s) + .3s;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
}
