body {
  --primary: #2c2c34;
  --secondary: #3f3f46;
  --background: #fbfbfb;
  --highlight: #ebebec;
  --seatgeek-blue: #1673e6;

  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 200;

  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--highlight);
}
